// Colors
$white: #fff;
$grey-light: #e9e9ea;
$grey: #f4f6f9;
$ghost: #b3c0c7;
$white-ghost: #fdfdfd;
$semantic-native-tabel-header-bg-color: #f9fafb;
$border-grey: #efefef;

$secondary: #14111b !default;
$secondary-light: #36343c !default;

$primary: #0f90d0 !default;
$primary-light: #33a3d8 !default;
